<a href="https://colab.research.google.com/github/Meenusj/DSA_ICT/blob/main/DSA_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
data = pd.read_csv("Students_Performance.csv")

In [14]:
print(data.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group C            some high school  free/reduced
1  female        group B                 high school  free/reduced
2  female        group B            some high school  free/reduced
3  female        group B                some college      standard
4  female        group C                some college  free/reduced

  test preparation course  math score  reading score  writing score
0                    none           0             17             10
1                    none           8             24             23
2                    none          18             32             28
3                    none          11             38             32
4                    none          22             39             33

In [15]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [16]:
print(data.describe())

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.001000      69.195000      68.119000
std      15.569567      14.706436      15.226381
min       0.000000      17.000000      10.000000
25%      57.000000      59.000000      58.000000
50%      66.000000      70.000000      69.000000
75%      77.000000      79.250000      79.000000
max     100.000000     100.000000     100.000000

In [17]:
# Count males and females
gender_counts = data['gender'].value_counts()
print(gender_counts)

female    518
male      482
Name: gender, dtype: int64

In [18]:
# Parental level of education
parental_education_counts = df['parental level of education'].value_counts()
print(parental_education_counts)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [21]:
# Average scores based on gender
avg_scores_gender = data.groupby('gender').mean()[['math score', 'reading score', 'writing score']]
print(avg_scores_gender)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

<ipython-input-21-8ec2e29c7389>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_scores_gender = data.groupby('gender').mean()[['math score', 'reading score', 'writing score']]

In [22]:

# Average scores based on test preparation course
avg_scores_test_prep = data.groupby('test preparation course').mean()[['math score', 'reading score', 'writing score']]
print(avg_scores_test_prep)

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

<ipython-input-22-99633fe7a3a9>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_scores_test_prep = data.groupby('test preparation course').mean()[['math score', 'reading score', 'writing score']]

In [26]:
# Scoring variation based on gender
score_variation_gender = data.groupby('gender').std()[['math score', 'reading score', 'writing score']]
print(score_variation_gender)

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

<ipython-input-26-e49a2a12b1dd>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score_variation_gender = data.groupby('gender').std()[['math score', 'reading score', 'writing score']]

In [27]:
# Scoring variation based on test preparation course
score_variation_test_prep = data.groupby('test preparation course').std()[['math score', 'reading score', 'writing score']]
print(score_variation_test_prep)

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

<ipython-input-27-a5b536cc5f95>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score_variation_test_prep = data.groupby('test preparation course').std()[['math score', 'reading score', 'writing score']]

In [29]:
# Bonus points for top 25% of students based on math scores
top_25_percent_math = df[df['math score'] >= np.percentile(df['math score'], 75)].copy()
top_25_percent_math.loc[:, 'bonus_points'] = 5  # Assigning bonus points using .loc accessor
print(top_25_percent_math.head())

     gender race/ethnicity parental level of education         lunch  \
414  female        group A                 high school  free/reduced
415  female        group B             master's degree  free/reduced
416  female        group B           bachelor's degree  free/reduced
417  female        group B             master's degree      standard
418  female        group B                 high school      standard

    test preparation course  math score  reading score  writing score  \
414               completed          77             88             85
415               completed          77             97             94
416                    none          77             85             87
417                    none          77             90             84
418               completed          77             82             89

     bonus_points
414             5
415             5
416             5
417             5
418             5