<a href="https://colab.research.google.com/github/Meenusj/DSA_ICT/blob/main/Meenu_model_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import seaborn as sns

titanic = pd.read_csv('/content/titanic_dataset .csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
print(titanic.columns)

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [12]:
# Fill missing Age values with the median age
titanic['Age'].fillna(titanic['Age'].median(), inplace=True)

# Fill missing Embarked values with the mode
titanic['Embarked'].fillna(titanic['Embarked'].mode()[0], inplace=True)


# Drop rows with missing 'embarked' values
titanic.dropna(subset=['Embarked'], inplace=True)


print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB
None

In [13]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [14]:
X = titanic.drop(columns='Survived')
y = titanic['Survived']

In [15]:
knn_model = KNeighborsClassifier(n_neighbors=5)

In [16]:
svm_model = SVC(kernel='linear')

In [21]:
from sklearn.preprocessing import OneHotEncoder

# Select categorical columns for encoding
categorical_cols = ['Sex', 'Embarked']

# Initialize OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse=False)

# Fit and transform the selected columns
X_encoded = encoder.fit_transform(X[categorical_cols])


# Create DataFrame for encoded variables
X_encoded_df = pd.DataFrame(X_encoded, columns=encoder.get_feature_names_out(categorical_cols))

print(X_encoded_df.head())

   Sex_male  Embarked_Q  Embarked_S
0       1.0         0.0         1.0
1       0.0         0.0         0.0
2       0.0         0.0         1.0
3       0.0         0.0         1.0
4       1.0         0.0         1.0

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [22]:

X_numerical = X.drop(columns=categorical_cols)

X_processed = pd.concat([X_numerical, X_encoded_df], axis=1)

print(X_processed.head())

   Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0       3  22.0      1      0   7.2500       1.0         0.0         1.0
1       1  38.0      1      0  71.2833       0.0         0.0         0.0
2       3  26.0      0      0   7.9250       0.0         0.0         1.0
3       1  35.0      1      0  53.1000       0.0         0.0         1.0
4       3  35.0      0      0   8.0500       1.0         0.0         1.0

In [23]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

knn_model = KNeighborsClassifier()
svm_model = SVC()

k_folds = 10

# Perform k-fold cross-validation for kNN
knn_scores = cross_val_score(knn_model, X_processed, y, cv=k_folds)
knn_avg_accuracy = knn_scores.mean()

# Perform k-fold cross-validation for SVM
svm_scores = cross_val_score(svm_model, X_processed, y, cv=k_folds)
svm_avg_accuracy = svm_scores.mean()

print(f'kNN Average Accuracy (k-fold): {knn_avg_accuracy:.2f}')
print(f'SVM Average Accuracy (k-fold): {svm_avg_accuracy:.2f}')

kNN Average Accuracy (k-fold): 0.70
SVM Average Accuracy (k-fold): 0.68

In [24]:
from sklearn.model_selection import StratifiedKFold


knn_model = KNeighborsClassifier()
svm_model = SVC()

# Perform stratified k-fold cross-validation for kNN
stratified_knn_scores = cross_val_score(knn_model, X_processed, y, cv=StratifiedKFold(n_splits=k_folds))
stratified_knn_avg_accuracy = stratified_knn_scores.mean()

# Perform stratified k-fold cross-validation for SVM
stratified_svm_scores = cross_val_score(svm_model, X_processed, y, cv=StratifiedKFold(n_splits=k_folds))
stratified_svm_avg_accuracy = stratified_svm_scores.mean()

print(f'kNN Average Accuracy (stratified k-fold): {stratified_knn_avg_accuracy:.2f}')
print(f'SVM Average Accuracy (stratified k-fold): {stratified_svm_avg_accuracy:.2f}')

kNN Average Accuracy (stratified k-fold): 0.70
SVM Average Accuracy (stratified k-fold): 0.68