<a href="https://colab.research.google.com/github/Meenusj/DSA_ICT/blob/main/practical2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def count_characters(string):
    char_count = {}
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

user_input = input("Enter a string value: ")
char_count = count_characters(user_input)
print("Sample output:", ", ".join([f"{char}={count}" for char, count in char_count.items()]))

Enter a string value: assembly Sample
Sample output: a=2, s=2, e=2, m=2, b=1, l=2, y=1,  =1, S=1, p=1

In [3]:
def find_maximum(a, b, c):
    return max(a, b, c)

num1, num2, num3 = map(int, input("Sample input: ").split(","))
max_num = find_maximum(num1, num2, num3)
print("Sample output:", max_num)

Sample input: 34,12,7
Sample output: 34

In [4]:
def exponent(base, exp):
    return base ** exp

base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = exponent(base, exp)
print("Sample output:", result)

Enter the base: 2
Enter the exponent: 3
Sample output: 8

In [5]:
def sum_of_cubes(n):
    return sum(i ** 3 for i in range(1, n))

num = int(input("Sample input: "))
result = sum_of_cubes(num)
print("Sample output:", result)

Sample input: 4
Sample output: 36

In [6]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [7]:
def most_frequent(lst):
    return max(set(lst), key=lst.count)

numbers = list(map(int, input("Sample input: ").split(",")))
result = most_frequent(numbers)
print("Sample output:", result)

Sample input: 2, 3, 4, 2, 5, 2
Sample output: 2

In [8]:
def sum_of_squares(lst):
    return sum(x ** 2 for x in lst)

numbers = list(map(int, input("Sample input: ").split(",")))
result = sum_of_squares(numbers)
print("Sample output:", result)

Sample input:  2,1,3,1
Sample output: 15

In [9]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [13]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

temp_fahrenheit = float(input("Temperature in Fahrenheit: "))

# Convert Fahrenheit to Celsius
temp_celsius = fahrenheit_to_celsius(temp_fahrenheit)
print("Temperature in Celsius:", temp_celsius)

Temperature in Fahrenheit: 41
Temperature in Celsius: 5.0

In [14]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Sample input: "))
result = factorial(num)
print("Sample output:", result)

Sample input: 3
Sample output: 6