<a href="https://colab.research.google.com/github/Meenusj/DSA_ICT/blob/main/Practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
radius=int(input("enter the radius of circle:"))
area=3.14*radius*radius
print(f"area if the circle is:{area}")

enter the radius of circle:3
area if the circle is:28.259999999999998

In [ ]:
name=input("enter the name:")
roll_number=int(input("enter the roll number of student:"))
mark=int(input("enter the mark"))
print("Name:",name)
print("Roll No:",roll_number)
print("mark",mark)

enter the name:Anisha
enter the roll number of student:21
enter the mark78
Name: Anisha
Roll No: 21
mark 78

In [ ]:
def get_largest_number(numbers):

    largest = numbers[0]
    for num in numbers[1:]:
        if num > largest:
            largest = num
    return largest

# Sample input
numbers = [12, 3, 47, 10]


largest_number = get_largest_number(numbers)


print(f"{largest_number} is the largest number.")

47 is the largest number.

In [ ]:
def get_largest_number(numbers):
    largest = max(numbers)
    return largest

# Sample input
numbers = [12, 3, 47, 10]

# Get the largest number
largest_number = get_largest_number(numbers)

# Output
print(f"{largest_number} is the largest number.")

47 is the largest number.

In [ ]:
def print_current_previous_sum(start,end):
  previous_num=0
  for num in range(start,end+1):
    current_sum=num+previous_num
    print(f"current number {num} previous number is {previous_num} and sum is {current_sum}")
    previous_num=num

start=1
end=10

print_current_previous_sum(start,end)

current number 1 previous number is 0 and sum is 1
current number 2 previous number is 1 and sum is 3
current number 3 previous number is 2 and sum is 5
current number 4 previous number is 3 and sum is 7
current number 5 previous number is 4 and sum is 9
current number 6 previous number is 5 and sum is 11
current number 7 previous number is 6 and sum is 13
current number 8 previous number is 7 and sum is 15
current number 9 previous number is 8 and sum is 17
current number 10 previous number is 9 and sum is 19

In [ ]:
def print_division(num):
  divisible_by_5=[]
  for num in sample_list:
    if num%5==0:
      divisible_by_5.append(num)
  print(", " .join(map(str,divisible_by_5)))

sample_list= [10, 20, 33, 46, 55]

print_division(sample_list)

10, 20, 55

In [ ]:
def is_prime(num):
  if num<=1:
    return False
  for i in range(2,num):
    if num%i==0:
      return False
  return True

num=int(input("enter the number:"))
if is_prime(num):
  print(f"{num} is a prime number")
else:
  print(f"{num} is not a prime number")

enter the number:3
3 is a prime number

In [1]:

def reverse_list(lst):
    reversed_lst = []
    for i in range(len(lst) - 1, -1, -1):
        reversed_lst.append(lst[i])
    return reversed_lst


input_list = [10, 40, 30, 70]


output_list = reverse_list(input_list)

print("Sample input:", ",".join(map(str, input_list)))
print("Sample output:", ",".join(map(str, output_list)))

Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [2]:

def print_pattern(rows):
    for i in range(1, rows + 1):
        print("*" * i)

num_rows = 4

print_pattern(num_rows)

*
**
***
****

In [3]:

def find_maximum(a, b, c):
    max_number = a
    if b > max_number:
        max_number = b
    if c > max_number:
        max_number = c
    return max_number

num1, num2, num3 = 34, 12, 7

max_num = find_maximum(num1, num2, num3)


print("Sample input:", num1, ",", num2, ",", num3)
print("Sample output:", max_num)

Sample input: 34 , 12 , 7
Sample output: 34

In [4]:

def print_pattern(rows):
    # Upper half of the pattern
    for i in range(1, rows + 1):
        print("*" * i)

    # Lower half of the pattern
    for i in range(rows - 1, 0, -1):
        print("*" * i)

num_rows = 5


print_pattern(num_rows)

*
**
***
****
*****
****
***
**
*